
// colors
$color-white: #ffffff;
$color-bg-primary: #172736;
$color-bg-secondary: #000000;
$color-bg-tertiary:  #403e54;
$color-bg-edit:#3469af;
$color-bg-add:#488ae1;
$color-primary:#ecad00;
$color-secondary:#ffcf4c;
$color-tertiary:#d2d1db;

