$text-color: rgb(27, 112, 240);
// colors
$color-white: #ffffff;
$color-bg-primary: #33304c;
$color-bg-secondary: #1c1c1c;
$color-bg-tertiary: #33304c;
$color-bg-edit:#673993;
$color-bg-add:#a21dd6;
$color-primary:#5d88ff;
$color-secondary:#345dcd;
$color-tertiary:#c6b4dd;

